/* Reseta as margens e padding padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo do cabeçalho e menu de navegação */
#header {
    background-color: #333;
    padding: 20px;
}

#header .logo {
    max-width: 150px;
}

.menu {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

.menu li {
    margin-right: 15px;
}

.menu a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* Estilo da seção principal */
#hero {
    text-align: center;
    padding: 50px;
    background-color: #f4f4f4;
}

#hero h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

#hero img {
    max-width: 100%;
    height: auto;
}

/* Estilo do rodapé */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}
