/*h1{
    color: blue;    
}

h2{
    color: cyan;
}

h2{
    color: lightgreen;
}

h3{
    color: blue;
}*/

h1,h2,h3{
    color: brown;
}

p{
    color: blue;
}

* {
    color: blue;

}

.textovermelho{
    color: red;
}

.sucess{
    background-color: rgb(44, 223, 44);
    color: rgb(6, 82, 6);
    width: 50px;
    padding: 20px;
    margin: 0 25%;
    text-align: center;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    border: 1px solid rgb(6, 82, 6);
}