* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    padding: 10px;
  }
  
  header.menu {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
  }
  
  header.menu nav ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;
    padding: 10px;
  }
  
  header.menu nav ul li a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .artigos {
    flex: 3;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .artigo {
    background-color: #fce5cd;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .painel {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  
  .box {
    background-color: #f7dbd7;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 8px;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .box1 {
    background-color: #d1009d;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 8px;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .buton {
    background-color: #d1009d;
    color: #000000;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    font-family: arial, sans-serif;
}
  
  /* Responsividade */
  @media (max-width: 768px) {
    .container {
      flex-direction: column;
    }
  
    .artigos, .painel {
      flex: 1;
    }
  }
  