* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu {
    list-style-type: none;
    background-color: #333333;
    text-align: center;
}

.menu li {
    display: inline-block;
    margin-right: 15px;
}

.menu li a {
    color: rgb(238, 238, 238);
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
}

.container {
    width: 100%;
    overflow: hidden; 
    margin-top: 20px;
}

.box {
    width: 48%; 
    padding: 200px;
    background-color: #bcffbb;
    border: 1px solid #ccffd0ef;
    float: left; 
    margin-right: 4%; 
}

.right-box {
    float: right; 
    margin-right: 0; 
}

h2 {
    text-align: center;
    color: #333333;
}

p {
    text-align: justify;
    color: #666;
}
