.container-titulo{
    background-color: rgb(236, 211, 97);
    padding: 20px;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
    line-height: 1.5;
    margin: 0;
}

.menu {
    background-color: #c4c4c4;
    border-bottom: 1px solid #c4c4c4;
    padding: 10px 0;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.menu ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}
  
.menu a {
    text-decoration: none;
    color: #f1de32;
    font-weight: bold;
    
}

.menu button{
    width: 400px;
    padding: 30px;
    background-color: (#848484a5);
    cursor: pointer;
    font-size: 20px;
}

.menu button:hover {
    background-color: #f3cc6193;
}

.container-back{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    background-color: #84848496;
}

.conjunto {
    display: flex; 
    gap: 20px; 
    justify-content: center; 
    align-items: flex-start; 
}
.card {
    width: 200px;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
}

h1{
    font-size: 15px;
}    

.card button {
    width: 100px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.rodape{
    background-color: rgb(236, 211, 97);
    width: 200vh;
    padding: 30px;
    text-align: center;
}